# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [2]:
# CODE HERE
print("My name is Innomatics")

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# WRITE HERE
VARIABLE:
    Variable is a container where we store the data (or) variable is a name given to a memory Location.
    1.The variable name can start with alphabet or an underscore(_).
    2.It shouldnot start with a number or any special character or symbols.
    3.variable names can be mixture of alphabets & numbers.
    4.Examples of variable: x=10.23, sum_12="addition",Mp12="Correction11".

In [4]:
# Code Here
x=10.23
print(x)       #here x is a variable.

10.23

In [5]:
y_12="1+2j"
print(y_12)

1+2j

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [7]:
# CODE HERE
width=17
height=12.0
delimiter='.'

In [20]:
a=width/2
b=width/2.0
c=height/3
d=1 + 2 * 5
e=delimiter * 5
print("width/2 = ",a)
print("width/2.0 = ",b)
print("height/3 = ",c)
print("1+2*5 = ",d)
print("delimiter*5 =",e)

width/2 =  8.5
width/2.0 =  8.5
height/3 =  4.0
1+2*5 =  11
delimiter*5 = .....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
#CODE HERE

In [28]:
First= input("First number: ")
Second = input("\nSecond number: ")
sum = float(First) + float(Second)
print("The sum of {0} and {1} is {2}" .format(First, Second, sum))

First number: 100

Second number: 200
The sum of 100 and 200 is 300.0

In [ ]:
My first number 100
My second number 200
Sum of two numbers is 300

> `Question:` Add your first name and second name

In [ ]:
# CODE HERE

In [4]:
first_name = input('My first name is: ')
second_name = input('My second name is: ')
full_name = (first_name) + (second_name)
print('My full name is  {0} and {1} is {2}'.format(first_name, second_name, full_name))

My first name is: Sachin
My second name is: Tendulkar
My full name is  Sachin and Tendulkar is SachinTendulkar

In [ ]:
My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [12]:
# CODE HERE

In [10]:
print("10 - ",type(10))
print("'10' - ",type("10"))
print("True - ",type(True))
print("10.5 - ",type(10.5))

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

In [11]:
#sample outpur

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [14]:
# CODE HERE

In [19]:
num_int=123
num_str=int("456")
num_new = num_int + num_str  
print('num1 is : ', (num_int))  
print('num2 is : ', (num_str))  
print('Addition of 123 and 456 is : ', num_new)

num1 is :  123
num2 is :  456
Addition of 123 and 456 is :  579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [5]:
# CODE HERE

In [20]:
pi = 3.1415926535897931
r= 5.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  523.5987755982989

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

In [23]:
bookPrice = 24.95
discount = .60
shippingPriceRest = .75
shippingPriceFirst = 3.00
totalUnits = 60
bookDiscountAmount = bookPrice * discount * totalUnits
shipping = shippingPriceRest * 59 + shippingPriceFirst
result = bookDiscountAmount + shipping
print ('The total price for 60 books including shipping and discount is: ')
print ('Total price of the books is: ' + str(bookDiscountAmount))
print ('Total Shipping is: ' + str(shipping))
print ('The Total price is: ' + str(result))

The total price for 60 books including shipping and discount is:
Total price of the books is: 898.1999999999999
Total Shipping is: 47.25
The Total price is: 945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)